<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="QLHSCCConnectionString" connectionString="Data Source=PC2011042720BGO\SQLEXPRESS;Initial Catalog=QLHSCC;Persist Security Info=True;User ID=sa;Password=123456789" providerName="System.Data.SqlClient" />
  <add name="QLHSCCEntities" connectionString="metadata=res://*/Models.DataModel.csdl|res://*/Models.DataModel.ssdl|res://*/Models.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=PC2011042720BGO\SQLEXPRESS;Initial Catalog=QLHSCC;Persist Security Info=True;User ID=sa;Password=123456789;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>